<h1>Vypis pouzivatelov</h1>
<table ctable hover>
  <thead cTableColor="light">
    <th>Id</th>
    <th>Meno</th>
    <th>Priezvisko</th>
    <th>Student MTF</th>
    <th>Akcia</th>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td> <!--TODO link na user-detail component s vyplnenym API-->
    <td>{{user.meno}}</td>
    <td>{{user.priezvisko}}</td>
    <td *ngIf="user.studentMtf == 1 ; else elseBlock">Ano</td>
    <ng-template #elseBlock>Nie</ng-template>
    <td></td>
    

    {{clickMessage}}
  </tr>
</tbody>
</table>