
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link" routerLink="/dashboard-component" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/rezervacie-component" routerLinkActive="active" ariaCurrentWhenActive="page">Rezervacie</a>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown"></div>
      <ul class="navbar-nav mr-auto">
          <a class="dropdown-item" routerLink="/create-reservation-component" routerLinkActive="active" ariaCurrentWhenActive="page">Vytvorit novu rezervaciu</a>
      </ul>
    <li class="nav-item"><a class="nav-link" routerLink="/building-component" routerLinkActive="active" ariaCurrentWhenActive="page">Budovy</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
